.extended-info-row{
    width: 100%;
    padding: 10px 30px;
    color: var(--clr-txt-primary);
    .icon-img{
        margin-top: 5px;
        margin-right: 10px;
        font-size: 1.2rem;
        color: var(--clr-feature-secondary);
    }
}